<section class="vh-100 bg-image"
  style="background-image: url('https://images.unsplash.com/photo-1529539795054-3c162aab037a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bG9naW58ZW58MHx8MHx8&w=1000&q=80');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login Here Please</h2>

              <form [formGroup]="loginForm" (ngSubmit)="LoginSubmit()" class="card-body">

                <div class="form-outline mb-4">
                  <label class="form-lable">UserName</label>
                  <input formControlName="UserName" class="form-control" type="text" placeholder="User name" required>
                  <div class="form-text text-danger"
                    *ngIf="UserName.errors?.['required']&&(UserName.dirty||UserName.touched)">
                    UserName is required Please enter username
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-lable">Password</label>
                    <input formControlName="Password" class="form-control" type="password" placeholder="Password"
                      required>
                    <div class="form-text text-danger"
                      *ngIf="Password.errors?.['required']&&(Password.dirty||Password.touched)">
                      Password is required
                    </div>
                  </div>

                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                  </div>

                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a routerLink="/signup"
                      class="fw-bold text-body"><u>New User signup here</u></a></p>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>