<br>
<div>
<button type="button" style="text-align:center; margin: auto; margin-right: 80px; margin-left: 500px;" 
class="btn btn-outline-primary" routerLink="/display">Show Intern Details</button>
<button type="button" style="text-align:center; margin: auto;"
 class="btn btn-outline-primary" routerLink="/departmentdisplay">Show DepartMent Details</button>
 </div>


 <img src="https://cdn.wallpapersafari.com/4/17/XqbL2M.jpg" class="d-block w-100" alt="Cliff Above a Stormy Sea" style="height:655px;">